/* List */
.list {
    padding: 0;
    font-size: 14px;
}
.list li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid var(--linegray);
    letter-spacing: -0.02em;
}
.list li .list--text {
    flex-basis: calc(100% * (219 / 427));
}
.list li .list--date {
    flex-basis: 100% !important;
    color: var(--blue-gray);
}

.list li :nth-child(2) {
    flex-basis: calc(100% * (147 / 427));
}
.list li :nth-child(3) {
    flex-basis: calc(100% * (72 / 427));
}
.list li .list--right {
    flex-basis: 100%;
    align-self: flex-end;
    text-align: right;
}

/* Badge */
.badge {
    width: 40px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    color: var(--basic-black);
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    border-radius: 3px;
    vertical-align: middle;
}

.badge.badge--black {
    background-color: var(--basic-black);
    color: var(--white);
}
.badge.badge--gray {
    background-color: var(--basic-gray);
    color: var(--white);
}

.badge.badge--red {
    background-color: var(--red-up);
    color: var(--white);
}

.badge.badge--green {
    background-color: var(--light-green);
    color: var(--white);
}

.badge.badge--dark-green {
    background-color: var(--dark-green);
    color: var(--white);
}

/* Icon */
[class^=icon-] {
    vertical-align: middle;
    display: inline-block;
    align-self: center;
}

.icon-new::before {
    font-weight: 900;
    content: "NEW";
    width: 11px;
    height: 11px;
    font-size: 11px;
    line-height: 16px;
    color: var(--light-red);
}
.icon-calendar {
    width: 18px;
    height: 20px;
    background: url('../img/icon/icon-calendar.svg') no-repeat center center;
}
[class^=ico-] {
    width: 16.79px;
    height: 14.9px;
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.ico-제품등록 {
    background-image: url('../img/icon/ico-제품등록.svg');
}

.ico-판매 {
    width: 16.54px;
    height: 15.03px;
    background-image: url('../img/icon/ico-판매.svg');
}

.ico-구매 {
    width: 15.44px;
    height: 14.79px;
    background-image: url('../img/icon/ico-구매.svg');
}

.ico-공동구매 {
    width: 17.36px;
    height: 9.08px;
    background-image: url('../img/icon/ico-공동구매.svg');
}

.ico-경매등록 {
    width: 16.59px;
    height: 16.49px;
    background-image: url('../img/icon/ico-경매등록.svg');
}

.ico-경매구매 {
    width: 15.18px;
    height: 15.89px;
    background-image: url('../img/icon/ico-경매구매.svg');
}

.ico-경매판매 {
    width: 15.74px;
    height: 15.66px;
    background-image: url('../img/icon/ico-경매판매.svg');
}

/* Button */
.btn {
    margin: 0;
    padding: 0;
    border: 0 none;
    display: inline-block;
    width: 140px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

.btn.btn--block {
    width: 100%;
    display: block;
}

.btn.btn--white {
    background: var(--white);
    color: var(--basic-black) !important;
    border: 1px solid var(--blue-gray);
}
.btn.btn--red {
    background: var(--red-up);
    color: var(--white) !important;
}
.btn.btn--blue {
    background: var(--blue-dn);
    color: var(--white) !important;
}
.btn.btn--gray {
    background: var(--blue-gray);
    color: var(--white) !important;
}
.btn.btn--blue-gray {
    background: var(--blue-gray);
    color: var(--white) !important
}
.btn.btn--blue-gray {
    background: var(--blue-gray);
    color: var(--white) !important
}

.btn.btn--star {
    width: 18px;
    height: 16.45px;
    background: transparent url('../img/icon/star.svg') no-repeat center center;
    border: 0 none;
    border-radius: 0.5px;
    vertical-align: middle;
}
.btn--star--on {
    width: 18px;
    height: 16.45px;
    background: #FFC42D;
    -webkit-mask-image: url('../img/icon/star.svg');
    mask-image: url('../img/icon/star.svg');
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 4px 4px #FFE072;
    border: 0 none;
    border-radius: 0.5px;
    vertical-align: middle;
}
.btn.btn--write {
    width: 195px;
}
.btn.btn--list {
    width: 100px;
}
.btn--modify {
    width: 100px;
}
.btn.btn--rounded {
    border-radius: 5px;
}
.btn.btn--close {
    width: 35px;
    height: 35px;
    background: transparent url('../img/icon/btn-close.svg') no-repeat center center;
    border-radius: 5px;
}

/* Tab */
.tabs {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.tabs li {
    margin: 0 0 0 -1px;
    padding: 0;
    list-style: none;
    border: 0.5px solid var(--linegray);
    height: 30px;
    box-sizing: border-box;
    flex-basis: calc((100% - 71px) / 5);
}

.tabs li:first-child {
    flex-basis: calc(100% * (71 / 346));
    background: rgba(35, 145, 170, 0.5);
    border: 0.5px solid #2391AA;
    color: var(--white);
    font-size: 12px;
}

.tabs li button {
    color: inherit;
}

.tabs li button {
    width: 100%;
    background: transparent;
    border: 0 none;
    font-weight: 700;
    font-size: inherit;
    text-align: center;
    height: 100%;
    line-height: 0;
}

/* Grid Table */
.grid-table {
    width: 100%;
    border-collapse: collapse;
    letter-spacing: -0.02em;
}

.ui-jqgrid-bdiv::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
.ui-jqgrid-bdiv::-webkit-scrollbar-button {
    height: 8px;
}
.ui-jqgrid-bdiv::-webkit-scrollbar-thumb{
    background: rgba(131, 137, 158, .8);
    border-radius: 5px;
}
.ui-jqgrid-bdiv::-webkit-scrollbar-track{
    background:rgba(119, 119, 119, 0.1); /* 또는 트랙에 추가한다 */
}

.grid-table thead tr {
    border-bottom: 1px solid var(--black-green);
}

.ui-jqgrid  {
    border: 0 none !important;
}

.ui-jqgrid .ui-jqgrid-hdiv {
    background: transparent !important;
    border: 0 none !important;
}
.ui-jqgrid .ui-jqgrid-htable .ui-th-div .s-ico {
    align-self: flex-start;
}
.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui-jqgrid .ui-state-highlight,
.ui-jqgrid .ui-state-hover {
    background: transparent !important;
}
.ui-jqgrid-htable {
    width: 100%;
}

.ui-jqgrid .ui-icon-desc {
    margin-left: unset !important;
}
.ui-jqgrid-htable thead tr th {
    height: 44px !important;
    background: transparent !important;
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -0.02em;
    border: 0 none !important;
    border-bottom: 1px solid var(--black-green) !important;
}

.grid-table tbody tr:not(.jqgfirstrow) td{
    height: 44px !important;
    line-height: 44px !important;
    font-family: "Noto Sans KR";
    font-size: 13px;
    letter-spacing: -0.02em;
    border: 0 none;
}

.grid-table tbody tr:not(.jqgfirstrow):not(:last-child) td {
    border-bottom: 0.5px solid var(--linegray) !important;
}

/* Form */
form {
    width: 340px;
    height: 416px;
}

form .form--header {
    width: 100%;
    margin-bottom: 40px;
    align-self: flex-start;
}
form .form--header h1 {
    margin: 0;
    padding: 0;
    background: url('../img/logo.svg') no-repeat right center;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
}
.form--controls {
    width: 100%;
}
.form--controls .form--label {
    width: 100%;
    height: 15px;
    line-height: 15px;
    display: block;
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.15px;
    margin-bottom: 2px;
}
.form--controls input[type=text],
.form--controls input[type=password],
.form--controls input[type=number],
.form--controls input[type=email],
.form--controls input[type=url],
.form--controls input[type=tel] {
    padding: 0 0 0 11px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 0.35px solid var(--basic-gray);
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: var(--basic-gray);
    box-sizing: border-box;
}

.form--controls .checkbox input[type=checkbox] {
    position: absolute;
    opacity: 0;

}
.form--controls .checkbox input[type=checkbox]+label {
    font-weight: 350;
}
.form--controls .checkbox input[type=checkbox]+label::before {
    margin-right: 12px;
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    border: 0.5px solid #DFDFDF;
    vertical-align: middle;
}

.input {
    display: flex;
    border: 0.5px solid var(--linegray);
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.input input{
    border: 0 none;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    width: 103px;
    text-align: right;
    font-weight: 500;
    font-size: 18px;
    box-sizing: border-box;
}
.input input::-webkit-outer-spin-button,
.input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input--group {
    display: flex;
}

.input--spiner {
    display: flex;
    justify-content: space-between;
    column-gap: 6px;
    height: 35px;
}
.input--spiner input {
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: right;
    border: 0.5px solid var(--linegray);
    box-sizing: border-box;
}
.input--spiner input::-webkit-outer-spin-button,
.input--spiner input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input--spiner .spiner-plus,
.input--spiner .spiner-minus{
    width: 35px;
    height: 35px;
    background: var(--white);
    border: 0.5px solid var(--linegray);
    box-sizing: border-box;
}
.input--spiner .spiner-plus {
    background: var(--blue-gray);
    color: var(--white);
    border-left: 0 none;
}
.form--btns {
    margin-top: 99px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.accordion {
    font-size: 16px;
}
.accordion .accordion--item:not(:last-child) {
    margin-bottom: 12px;
}
.accordion .accordion--item .accordion--header {
    height: 55.59px;
    line-height: 55.59px;
    background: var(--white);
    border: 0.35px solid #BDC4CB;
    border-radius: 4px 4px 0 0;
    font-weight: 700;
    font-size: 18px;
    position: relative;
}
.accordion .accordion--item .accordion--header::after {
    width: 35px;
    height: 37px;
    content: "";
    display: block;
    background: url('../img/btn-rollup.svg') no-repeat;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.accordion .accordion--item .accordion--header a {
    display: block;
    padding: 0 0 0 15px;
}
.accordion .accordion--item .accordion--header span {
    font-weight: 500;
    line-height: 23px;
}

.accordion--item .accordion--contents {
    height: 0;
    padding: 0 16px 0 52px;
    background: var(--white);
    border: 0.35px solid var(--blue-gray2);
    border-width: 0;
    border-top: 0 none;
    border-radius: 0 0 4px 4px;
    column-gap: 16px;
    -webkit-transition: all .07s cubic-bezier(0, 0, 1, 1);
    transition: all .07s cubic-bezier(0, 0, 1, 1);
    box-sizing: border-box;
    overflow: hidden;
}

.accordion--item.accordion--open .accordion--contents {
    border-width: 1px;
    padding: 18px 16px 24px 52px;
    height: auto;
    display: flex;
}
.accordion--item.accordion--open .accordion--header {
    background: var(--lightgray);
}
.accordion--item.accordion--open .accordion--header::after {
    transform: rotate(-180deg) translateY(50%);
}
.accordion--item .accordion--contents span {
    display: block;
    font-weight: 500;
}

/* Dropdown */
.dropdown-wrapper {
    position: relative;
}
.dropdown {
    display: flex;
    align-items: center;
    color: var(--basic-black);
    position: relative;
    padding: 0 0 0 10px;
    border: 0.35px solid #DFDFDF;
    background: rgb(245, 245, 245, .7);
    background: var(--white);
    user-select: none;
    -webkit-user-drag: none;
    font-family: Inter;
    font-size: 14px;
    width: 100%;
    height: 40px;
    letter-spacing: -0.05em;
}
.dropdown::after {
    position: absolute;
    top: 50%;
    right: 15px;
    border: 0 none;
    content: "";
    display: block;
    background: var(--blue-gray);
    -webkit-mask-image: url('../img/icon/dropdown-caret.svg');
    mask-image: url('../img/icon/dropdown-caret.svg');
    width: 10px;
    height: 8px;
    transform: translateY(-50%)
}
.dropdown .flag {
    margin-right: 10px;
}

.dropdown+.dropdown--item {
    min-width: 81px;
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--white);
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    text-align: center;
    padding-top: 9px;
    box-sizing: border-box;
    z-index: 2;
}
.dropdown+.dropdown--item  span {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.05em;
}
.dropdown+.dropdown--item  span::after {
    display: block;
    content: "";
    position: absolute;
    right: -14px;
    top: 50%;
    width: 10px;
    height: 8px;
    background: var(--blue-gray);
    -webkit-mask-image: url('../img/icon/dropdown-caret.svg');
    mask-image: url('../img/icon/dropdown-caret.svg');
    transform: translateY(-50%);
    border-radius: 50%;
}

.dropdown+.dropdown--item ul {
    margin: 10px 0 0 0;
    padding: 0 0 13px;
    list-style: none;

}

.dropdown+.dropdown--item ul li {
    list-style: none;
    height: 20px;
    line-height: 20px;
    font-weight: 500;
    font-size: 14px;
}

.dropdown+.dropdown--item ul li:not(:last-child) {
    margin-bottom: 10px;
}

.dropdown+.dropdown--item ul li a {
    display: block;
    height: 100%;
}

.dropdown+.dropdown--item ul li.dropdown--selected {
    color: var(--red-up);
}
.dropdown+.dropdown--item ul li.dropdown--selected a{
    color: inherit;
}
.dropdown.dropdown--open+.dropdown--item {
    display: block;
}

/* */
.grid--code {
    grid-template-columns: repeat(6, 35px);
    grid-template-rows: repeat(1, 50px);
    column-gap: 13px;
    align-self: flex-start;
}
.grid--code > * {
    display: flex;
    border: 0.5px solid #DFDFDF;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: -0.15px;
    text-align: center;
}

.grid--code > *:focus {
    border-color: var(--red-up);
    caret-color: var(--red-up);
    outline: 0 none;
}

.grid--code > input::-webkit-outer-spin-button,
.grid--code > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.grid--code > input[type=number] {
    -moz-appearance: textfield;
}

.validation--message {
    padding: 14px 10px 0 40px;
    background: #F93D5C url('../img/icon/ico-warn.svg') no-repeat 10px 13px;
    height: 62px;
    letter-spacing: -0.15px;
    color: var(--white);
    font-weight: 500;
    line-height: 17px;
    position: relative;
    box-sizing: border-box;
    word-break: keep-all;
}

.validation--message p {
    margin: 0;
}

/* Shapes */
.rounded {
    width: 30px;
    height:30px;
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}
.rounded.rounded--black {
    background: var(--basic-black);
    color: var(--white);
}

/* Flag */
.flag {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.flag.kr {
    background-image: url(../img/flag/kr.svg);
}

/* Step */
.step--list {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(calc(-50% + 340px + 178px));
}
.step--list .step--header {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
}
.step--list ul,
.step--list ol {
    margin: 0;
    padding: 0;
}
.step--list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.step--list ol {
    counter-reset: counter;
    display: flex;
    flex-direction: column;
    row-gap: 42px;
}

.step--list ol li {
    counter-increment: counter;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.15px;
    color: #999999;
}
.step--list ol li::before {
    margin-right: 9px;
    content: counter(counter);
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
    font-size: 16px;
    background: #999999;
    color: var(--white);
    text-align: center;
}

.step--list li.step--active {
    color: var(--basic-black);
}
.step--list li.step--active::before {
    background: var(--basic-black);
}

.rounded {
    width: 30px;
    height:30px;
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}
.rounded.rounded--black {
    background: var(--basic-black);
    color: var(--white);
}

/* Choice */
.choice {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
.choice li {
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
    list-style: none;
    background: #F1F1F1;
    position: relative;
}
.choice li input[type=radio] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
}
.choice li label {
    padding: 0 0 0 19px;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
}

.choice li input[type=radio]::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--white);
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}
.choice li input[type=radio]:checked {
    width: 100%;
    background: var(--red-up);
}
.choice li input[type=radio]:checked+label {
    color: #fff;
}

/* Checkbox */
.checkbox.checkbox--rounded input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
}
.checkbox.checkbox--rounded input[type=checkbox]::before {
    margin-right: 8px;
    display: inline-block;
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #999 url('../img/icon/icon-check.svg') no-repeat center center;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox.checkbox--rounded input[type=checkbox]:checked::before {
    background-color: var(--red-up);
}
.checkbox.checkbox--rounded input[type=checkbox]+label {
    font-weight: 500;
    color: #999;
}
.checkbox.checkbox--rounded input[type=checkbox]:checked+label {
    color: var(--red-up);
}

/* Grid */
.d-grid.column-2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
}

input[type=file].image-selector {
    width: 100%;
    height: 110px;
    position: relative;
    cursor: pointer;
}
input[type=file].image-selector::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: #F1F1F1;
    opacity: 1;

}
input[type=file].image-selector::after{
    display: block;
    content: "";
    position: absolute;
    width: 26px;
    height: 21px;
    top: 50%;
    left: 50%;
    background: #B81C22;
    -webkit-mask-image: url('../img/icon/icon-camera.svg');
    mask-image: url('../img/icon/icon-camera.svg');
    transform: translate(-50%, -50%);
}

.row {
    width: 100%;
    display: flex;
    margin-bottom: 7px;
}

.row > * {
    flex: 0 1 auto;
    margin-right: 7px;
}
.row > :last-child {
    margin-right: 0;
}
.row .col {
    flex: 1 1 auto;
}
.row .col-6 {
    width: calc(50% - 3.5px);
}

.boxed {
    height: 286px;
    padding: 22px 23px;
    background: var(--lightgray);
    box-sizing: border-box;
}
.boxed--transparent {
    background: transparent;
    border: 1px solid var(--blue-mid-gray);
}

/* */
.daterange {
    width: 259px;
    padding-left: 39px;
    position: relative;
    background: var(--white) url('../img/icon/icon-calendar.svg') no-repeat 11px center;
    border: 0.35px solid #DFDFDF;
    box-sizing: border-box;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
}
.daterange::before {
    display: block;
    width: 18px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: var(--blue-gray);
    -webkit-mask-image: url('../img/icon/icon-calendar.svg');
    mask-image: url('../img/icon/icon-calendar.svg');
    content: "";
}

/* Modal */
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.modal--open {
    display: flex;
}
.modal::before {
    display: block;
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
}

.modal .modal--body {
    width: calc(100% * (1280 / 1440));
    height: calc(100% - 140px);
    background: var(--white);
    filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.15));
    border-radius: 15px;
    padding: 14px 70px;
    box-sizing: border-box;
    overflow: hidden;

}

.modal.modal--tiny .modal--body {
    width: 420px;
    height: 460px;
}

.modal .modal--header {
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
}

.modal .modal--header .btn.btn--close {

}
.modal img {
    width: 100%;
    max-height: 100%
}

.tab-content {
    display: none;
}