.exchange main{
	display: grid;
	padding: 0;
	grid-template-columns: 2fr 3fr;
	column-gap: 1%;
}

.exchange .tab-wrapper{
	width: 100%;
}

.exchange .tab--content{
	clear:both;
	width: 100%;
}

#jqGrid thead th{
	white-space: nowrap;
}


#jqGrid tbody{
	height: auto;
	box-sizing: border-box;
}


#jqGrid tbody tr td{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: default;
}

#sellGrid tbody tr td,
#buyGrid tbody tr td,
#tab-info tbody tr th,
#tab-info tbody tr td{
	cursor: default;
}

#jqGrid tbody tr td > ul{
	width: 100%;
}

#jqGrid tbody tr td > ul >li:first-child{
	padding-top: 0.5em;
}

.exchange table.dataTable.no-footer{
	width: 100%!important;
}
.exchange .table.dataTable.no-footer tbody{
	position: relative; 
	overflow: auto; 
	width: 100%;
	background: repeating-linear-gradient(45deg, #edeeff, #edeeff 10px, white 10px, white 20px);
}

/* 태이블 데이터 없을때 배경색 사선 그려지는것 제거 */
div.dts div.dataTables_scrollBody {
    background: transparent !important;
    border-bottom-width: 0px;
}

.side--panel {
	width: 100%;
    overflow:auto;
	/* min-width: 330px; */
}
/* mk 리스트 하단 아랫줄 제거 */
.side--panel .tab-wrapper div.dataTables_wrapper.no-footer div .dataTables_scrollBody{
	border-bottom-width: 0px ;
}

.details {
	width: 100%;
    overflow:hidden;/* 차트등 내부 영역이 넘어가면 모바일에서 좌우 스크롤이 생기는 현상 방지위해 hidden사용 */
	min-width: 320px;
}

.details--header {
    font-weight: 700;
    font-size: 14px;
    height: 46px;
    line-height: 46px;
    letter-spacing: -0.02em;
    border-bottom: 1px solid var(--linegray);
    box-sizing: border-box;
}

.details .details--header .tea--name{
	font-size: 16px;
}

.details--header small {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: var(--blue-gray);
}

.details--body {
    display: flex;
    /* padding: 12px 0 21px 10px; */
	padding: 12px 0 12px 10px;
    justify-content: space-between;
    border-bottom: 0.5px solid var(--linegray);
    height: 75px;
    box-sizing: border-box;
    /* margin-bottom: 20px; */
}
.details--body > div > *{
	white-space: nowrap;
}

.details--body > div.d-flex{
	align-items: center;
	flex-direction: row;
}

.details--body .details--price {
    font-weight: 700;
    font-size: 26px;
    /* color: var(--red-up); */
}

.details--price {
    display: flex;
    align-self: center;
}
.details--diff {
    font-size: 16px
}

#legend_s_grade, #legend_a_grade, #legend_b_grade{line-height: 2rem;}
#legend_s_grade:before{background: #ea4274;content: "";width: 10px;height: 3px;display: inline-block;margin: 3px 0.5rem;}
#legend_a_grade:before{background: #58be82;content: "";width: 10px;height: 3px;display: inline-block;margin: 3px 0.5rem;}
#legend_b_grade:before{background: #4c4c4c;content: "";width: 10px;height: 3px;display: inline-block;margin: 3px 0.5rem;}


.details .tabs {
	width: 100%;
    margin: 0 auto;
}
.details .tabs li {
    background: var(--white);
    color: var(--basic-black);
    border-bottom: 0 none !important;
}

.details .tabs li.tab--active {
    border-bottom: 4px solid var(--red-up) !important
}

.details .d-grid.grid-2-column{width: 50%;}

/* .details .tabs li.tab--sell.tab--active {
    border-bottom: 4px solid var(--red-up) !important
}
.details .tabs li.tab--buy.tab--active {
    border-bottom: 4px solid var(--blue-dn) !important
}
.details .tabs li.tab--info.tab--active {
    border-bottom: 4px solid var(--basic-black) !important
} */

#tab-info {
    padding-top: 10px;
    column-gap: 11px;
	width: 800px;
	display: flex;
	flex-direction: column;
}

#tab-info .info{
	display: flex;
}

#tab-info .info > div{
	flex-grow: 1;
}
#tab-info .info > div.thumb{
	width: calc(44%);
	/*margin-right:20px;*/
	display:flex;
}
#tab-info .info > div.info_p{
	width: calc(56%);
	/*margin-right:20px;*/
	display:flex;
}

#tab-info .info p {
    width: 278px;
    /* height: 267px; */
	margin-right:20px
}
#tab-info div img{
	width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 50px;
}

#tab-info #info{
	width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 50px;
}

#tab-info .table {
    margin-top: 40px;
}
#tab-info .table th {
    /* width: calc(100% * (53 / 536)); */
    width: 60px;
	text-align: left;
    padding-right: 17px;
}

#tab-info .table th,
#tab-info .table td {
    padding: 0 0 17px;
    vertical-align: top;
}

#tab-info .btns {
    margin-top: 24px;
	justify-content: center;
}

@media screen and (max-width: 352px) {
	#tab-info{
		padding-bottom: 95px;
	}
	#tab-info .info{
		flex-direction: column;
	}
	#tab-info .info > div.thumb{
		margin-right: 0px;
		width: 150px;
		align-self: center;
	}
	#tab-info .btns{
		margin-bottom: 10px;
	}

}


#jqGrid tbody tr td .btn.btn--star--on{
	margin-bottom: 2px;
}
#jqGrid tbody tr td .btn.btn--star{
	margin-bottom: 2px;
}

.exchange .btn.btn--star{
	margin-right: 5px;
}

/* #tab-info .info > div{
	flex-grow: 1;
} */
.tab-container{
	height: 509px;
}

.dtr-control{
	text-align : center!important;
}
.dt-body-right.text-right{
	text-align : center!important;
}
.dt-body-left.dt-head-center.sorting_1.dtr-control{
	text-align : left!important;
}

/* 구매하기 */
#modal-buy .modal--content ,
#modal-buy-direct .modal--content 
{
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative; 
    //background: url('../img/logo.svg') no-repeat calc(100% - 20px) top;
}
#modal-buy .tea--name ,
#modal-buy-direct .tea--name {
    padding-left: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    padding-left: 0px;	
}

/* 판매하기 */
#modal-sell .modal--content,
#modal-sell-direct .modal--content{
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    //background: url('../img/logo.svg') no-repeat calc(100% - 20px) top;
}
#modal-sell .tea--name,
#modal-sell-direct .tea--name {
    padding-left: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    padding-left: 0px;
}

#modal-buy .btn--star--on,
#modal-buy-direct .btn--star--on,
#modal-sell .btn--star--on ,
#modal-sell-direct .btn--star--on 
{
    position: absolute;
    left: 19px;
    top: 5px;
}

#modal-buy dd,
#modal-buy-direct dd,
#modal-sell dd, 
#modal-sell-direct dd 
{
    width: 220px;
}

#modal-buy-success .modal--content,
#modal-sell-success .modal--content{
    height: auto;
	padding: 3rem 2rem 0;
    //background: url('../img/logo.svg') no-repeat calc(100% - 20px) 17px;
}

.tea--volume {
    margin-bottom: 40px;
}

.input_select{
    width: 100%;
    box-sizing: border-box;
    height: 35px;
}

.input_select select{
	border: 0.5px solid var(--linegray);
	width: 100%;
	height: 100%;
	padding: 0 10px;
	font-weight: 500;
    font-size: 18px;
}

@media screen  and (max-width: 1300px){
	.details--body{padding: 7px 0 7px 0}
	.details--body .details--price {
		font-size: 20px;
	}
	
	.details--body{
		padding-left: 0;
		flex-direction: column;
		height: 125px;
	}

	/* .details .row.d-flex.under{border-bottom: 0.5px solid var(--linegray)} */
}

@media screen and (max-width: 800px) {
	.sub.exchange > .container >  header{display: none;}
	.sub.exchange .contents--header{
		display: flex;
		justify-content: flex-start;
	}
	.sub.exchange .contents--header > div{width: 50%;}
	.sub.exchange .contents--header > div.mobile-only{
		display: flex!important;
		justify-content: flex-end
	}
	.sub.exchange .contents--header > div.mobile-only > i:first-child{
		margin-right: 10px;
	}

	.sub.exchange .desktop-only{display: none!important;}
	
	.sub.exchange .mobile-only{display: block!important;}

	.sub.exchange main{
		padding:0 16px!important;
		grid-template-columns: 1fr;
	}
	.sub.exchange .contents{
		height: initial;
	}
	.sub.exchange .contents--header{
		margin-bottom: 0;
		line-height: 48px;
	}

	.sub.exchange .mobile-only.navigation--back{
		display: inline-block!important;
		margin-right: 15px;
	}

	.sub.exchange .contents--header .navigation{
		height: 48px;
		margin-right: 15px;
	}
	.exchange .details{
		display: none;
	}
	.tab-container{
		padding-bottom: 52px;
	}

	/* .side--panel .tabs {
        border-bottom: 4px solid var(--lightgray);
        height: 36px;
        box-sizing: border-box;
    }
    .side--panel .tabs li{
        padding: 0 0 10px;
        color: var(--gray006);
        font-size: 18px !important;
        height: 32px;
        box-sizing: border-box;
        border-bottom-width: 0 !important;
        line-height: 1;
    }
    .side--panel .tabs .tab--active{
        border-bottom: 4px solid var(--red-up) !important;
    }
    .side--panel .grid-table thead th {
        height: 32px !important;
        border: 1px solid #E5E8EB !important;
        border-radius: 2px;
        color: var(--gray005);
    }
    .details {
        display: none;
    } */
}



/* Mobile */
/* @media screen and (max-width: 600px) {
    .side--panel .tabs {
        border-bottom: 4px solid var(--lightgray);
        height: 36px;
        box-sizing: border-box;
    }
    .side--panel .tabs li{
        padding: 0 0 10px;
        color: var(--gray006);
        font-size: 18px !important;
        height: 32px;
        box-sizing: border-box;
        border-bottom-width: 0 !important;
        line-height: 1;
    }
    .side--panel .tabs .tab--active{
        border-bottom: 4px solid var(--red-up) !important;
    }
    .side--panel .grid-table thead th {
        height: 32px !important;
        border: 1px solid #E5E8EB !important;
        border-radius: 2px;
        color: var(--gray005);
    }
    .details {
        display: none;
    }
} */
#white-paper .modal--dialog{
	width: 90%;
}

#white-paper dl{
	justify-content: flex-start;
}

#white-paper dl dt{
	width: 150px;
}

#white-paper dl dd{
	width: calc(100% - 150px);
	/* min-width: 280px */
}

#white-paper dl dd .input,
#white-paper dl dd .textarea{
	font-weight: 100;
	font-size: 14px;
}

#white-paper dl dd .input input{
	width:100%;
}

@media screen and (max-width: 800px) {
	#white-paper dl{
		flex-direction: column;
	}

	#white-paper dl dd{
		width: 100%;
		min-width: initial;
	}

	#white-paper .grid-2-column{
		grid-template-columns: repeat(1, 1fr);
		padding: 0 20px 20px!important;
		overflow: auto;
	}
}

#modal-sell-pin .modal--content,
#modal-buy-pin .modal--content,
#modal-buy-direct-pin .modal--content,
#modal-sell-direct-pin .modal--content{
	height: calc(100% - 60px);
}

#modal-sell-pin .margin,
#modal-buy-pin .margin,
#modal-buy-direct-pin .margin,
#modal-sell-direct-pin .margin{
	margin: 100px 0;
}

#modal-sell-pin input[type=number],
#modal-buy-pin input[type=number],
#modal-buy-direct-pin input[type=number],
#modal-sell-direct-pin input[type=number] {
    -webkit-text-security: disc;
}
#modal-sell-pin .text--center,
#modal-buy-pin .text--center,
#modal-buy-direct-pin .text--center,
#modal-sell-direct-pin .text--center{
	margin-top: 80px;
}

#modal-sell-pin .text--center .btn,
#modal-buy-pin .text--center .btn,
#modal-buy-direct-pin .text--center .btn,
#modal-sell-direct-pin .text--center .btn{
	width: 80%;
}

/* 230217 mk 이용약관 추가*/
#dl_agree{
	margin-top: 7px;
    margin-bottom: 8px;
}

#dl_agree label input{
	margin-right:10px;
}
