:root {
    --SIDE-WIDTH: calc(100% * (546 / 1440));
}

header {
    height: 72.77px;
}

main {
    padding: 0 20px 26px;
}

.deposit main {
    padding: 72px 40px 0 40px;
}

.sub .nav .active {
    border-bottom: 1px solid var(--red-up);
}

.sub.notice main {
    padding: 60px 140px 60px 40px;
}

/* @media screen and (min-width: 991px) and (max-width: 1400px) {
	.sub.notice header nav > ul{column-gap: 23px; padding-right: 120px;}
} */

@media screen and (max-width: 990px) {
	.sub.notice header .logo{display: block;}
	.sub.notice header nav{display: none;}
	.sub.notice .contents{margin-top: 30px;}
	.sub.notice main {
		/* grid-template-columns: initial;
		align-content: center;
		justify-content: center; */
		padding:30px;
		padding-top: 80px;
		display: block;

	}
	.sub.notice .inquiry--reply{
		padding: 0;
		width: 100%;
	}
	.sub.notice .inquiry--body{
		width: 100%;
	}

}


@media only screen and (max-width: 600px) {
	.sub.notice{overflow-x: hidden;}
	.sub.notice .contents{margin-top:0;}
	.sub.notice .contents--header{margin-bottom: 0!important;}
	.sub.notice .accordion{width: 100%;}
	.sub.notice header.accordion--header{padding-left: 0;}
	.sub.notice .text-red + span{font-size: 16px;}
	.sub.notice.write main{padding:0 30px !important;}

	.sub.notice.inquiry main{padding: 0 15px 30px !important;}
	.sub.notice.inquiry .side{display: none;}
	.sub.notice.inquiry .mobile-only{display: block !important;}
}

/* faq */
.sub.faq main {
    padding: 60px 140px 60px 40px;
}

.sub.faq .accordion--contents {
    padding-left: 81px;
}
.sub.faq .text-red + span{
	display: inline-block; 
	width: 60%;
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.sub.faq .accordion--contents::before {
    position: absolute;
    top: 18px;
    left: 52px;
    display: inline-block;
    content: "A";
    color: var(--lightlight-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: inherit;
    height: 0;
    -webkit-transition: all .12s cubic-bezier(0, 0, 1, 1);
    transition: all .12s cubic-bezier(0, 0, 1, 1);
}

.sub.faq .accordion--open .accordion--contents::before {
    height: auto;
}


.sub main {
    grid-template-columns: calc(100% * (238 / 1440)) auto;
    column-gap: 107px;
}

@media screen and (min-width: 991px) and (max-width: 1400px) {
	.sub.faq header nav > ul{column-gap: 23px; padding-right: 120px;}
}

@media screen and (min-width: 610px) and (max-width: 990px) {
	.sub.faq header .logo{display: block;}
	.sub.faq header nav{display: none;}

	.sub.faq main {
		grid-template-columns: initial;
		align-content: center;
		justify-content: center;
		padding:80px 50px 50px;
	}
}


@media only screen and (max-width: 609px) {
	.sub.faq{overflow-x: hidden;}
	.sub.faq aside.side{display: none;}
	.sub.faq .accordion{width: 100%;}
	.sub.faq header.accordion--header{padding-left: 0;}
	.sub.faq .text-red + span{font-size: 16px;}
}


/* 게시판 */
.sub .board--list { 
    width: 100%;
    border: 0 none;
    border-collapse: collapse;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #BDC4CB;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    table-layout: fixed;
}

.board--list .icon--new {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background: var(--red-up) url('../img/icon/icon-new.svg') no-repeat center center;
    border-radius: 2px;
    vertical-align: middle;
    margin-left: 8px;
}

.board--list span {
    vertical-align: middle;
}

.sub .board--list thead th {
    background: var(--lightgray);
    height: 46px;
    line-height: 46px;
    border-right: 0.35px solid #BDC4CB;
    border-bottom: 0.35px solid #BDC4CB;
}

.sub .board--list thead th:first-child {
    border-radius: 4px 0 0 4px;
}

.sub .board--list thead th:last-child {
    border-radius: 0 4px 4px 0;
    border-right: 0 none;
}

.sub .board--list tbody {
    margin-top: 5px;
}
.sub .board--list tbody tr td {
    padding: 13px 10px;
}

.sub .board--list tbody tr td:nth-child(2) {
    text-align: left;
	padding: 13px 10px 13px 25px;
	box-sizing: border-box;
	width: 100%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.sub .board--list tbody tr td:not(:last-child) {
    border-right: 0.35px solid #BDC4CB;
}





.sub .board--list tbody tr td.text--left,
.sub .board--list tbody tr td.text--right {
    padding-left: 10px;
    padding-right: 10px;
}
.sub .board--list tbody tr td .btn--modify {
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
}
.board--list tbody tr:not(:last-child) td {
    border-bottom: 0.35px solid #BDC4CB;

}
.board--list tbody tr.board--empty td {
    height: 272px;
    line-height: 272px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}




.sub .board--pagination {
margin-top: 20px;
}

.sub .board--pagination ul {
    display: flex;
	align-items: center;
	justify-content: center;
    margin: 0;
    padding: 0;
    column-gap: 6px;
}

.sub .board--pagination li {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: var(--mid-gray);
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
}

.sub .board--pagination li a {
    display: block;
}

.board--pagination li.pagination--prev,
.board--pagination li.pagination--next {
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
}
.sub .board--pagination li.pagination--prev {
    background-image: url('../img/icon/icon-prev.svg');
}
.sub .board--pagination li.pagination--next {
    background-image: url('../img/icon/icon-next.svg');
}

.sub .board--btn {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.sub .board--write {
    width: 100%;
    height: auto;
}
.sub .board--write input[type=text],
.sub .board--write input[type=password] {
    width: calc(100% * (535 / 900));
    height: 46px;
    border: 0.35px solid #BDC4CB;
    color: var(--blue-gray2);
    box-sizing: border-box;
    font-family: Inter;
    font-size: 14px;
    letter-spacing: -0.15px;
    padding: 0 16px;
}

.sub .board--write textarea {
    width: 100%;
    height: 313px;
    border: 0.35px solid #BDC4CB;
    padding: 20px 16px;
    color: var(--blue-gray2);
    box-sizing: border-box;
    font-family: Inter;
    font-size: 14px;
    letter-spacing: -0.15px;
    resize: none;
}

.sub .board--write .form--controls {
    margin-bottom: 20px;
}

.sub .board--write .form--controls .form--label {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.15px;
    margin-bottom: 5px;
}

.sub.inquiry .mobile-only > li{
	padding-top: 25px;
	height: 75px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0px 4px 4px -4px #e2e2e2;
}

.sub.inquiry .mobile-only > li > div{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.sub.inquiry .mobile-only > li div.number{
	font-weight: 500;
	font-size: 14px;
	color: #333;
	line-height: 20px;
}
.sub.inquiry .mobile-only > li div.number > span{vertical-align: inherit; margin-right:5px;}

.sub.inquiry .mobile-only > li div.date{
	display: flex;
	flex-direction: row;
	
}

.sub.inquiry .mobile-only > li div.date > p{
	margin: 7px 0 20px;
}

.sub.inquiry .mobile-only > li p.day > span{
	vertical-align: initial; 
	margin-left: 5px; 
	margin-right: 20px;
}
.sub.inquiry .mobile-only > li p.text-red{font-weight: 700; font-size: 13px; vertical-align: middle;}
.sub.inquiry .mobile-only > li > p{margin: 0;}
.sub.inquiry .mobile-only > li > p .btn{
	display: inline-block; max-width: 72px; font-weight: 500; font-size: 14px;
	padding: 6px 11px;
	height: 20px;
	line-height: 20px;
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
	.sub .board--list tbody tr td{font-size: 12px;}
	.sub .board--list tbody tr td .btn--modify{max-width: 70px; width:100%; font-size: 11px;}
	
}

@media screen and (max-width: 601px) {
	.sub .board--pagination {display: none;}
	.sub.inquiry .contents--header > div{display: flex;}
	.sub.inquiry .contents{position: relative;}
	.sub.inquiry .contents--header{display: flex; align-items: center; justify-content: space-between;}
	.sub.inquiry .contents--header .mobile-only .btn{text-indent: 100%; white-space: nowrap; overflow: hidden; width: 25px;}
	.sub.inquiry .contents--header .mobile-only .btn::after{
		display: block; content:"+"; position: absolute; 
		font-size: 28px; color:#B81C22;
		top: 0; right: 15px;
	}
}


.sub main .side h1 {
    margin: 0 0 16px;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.05em;
    color: #000000;
}

.sub main .side .side--snb {
    background: #F5F5F5;
    border: 1px solid #E5E8EB;
}
.sub main .side .side--snb ul {
    margin: 0;
    padding: 0;
}
.sub main .side .side--snb li {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: var(--basic-gray);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.05em;
}
.sub main .side .side--snb li:not(:last-child) {
    border-bottom: 1px solid #E5E8EB;
}

.sub main .side .side--snb li a {
    display: block;
    color: inherit;
}

.sub main .side .side--snb li.snb--active {
    border-left: 2px solid var(--red-up);
    background: var(--white);
    color: var(--basic-black);
}

.sub .contents .contents--header {
    font-family: Inter !important;
    font-weight: 700 !important;
    font-size: 24px;
    height: 57px;
    color: #B81C22;
    border-bottom: 4px solid #B81C22;
    box-sizing: border-box;
    margin-bottom: 34px;
}

.sub .contents .board--meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 500;
}
.sub .contents .board--meta dl {
    display: flex;
    column-gap: 21px;
}
.sub .contents .board--meta dd {
    margin: 0;
}

.sub .contents .board--meta .board--author {
    margin-right: 98px;
}

.sub .contents .contents--header h1 {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit !important;
}
.sub .contents .board--body {
    padding: 0 0 0 29px;
}
.sub .contents .board--body .board--subject {
    height: 26px;
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 16px;
}
.sub .contents .board--body .board--subject h1 {
    margin: 0;
    padding: 0;
}
.sub .contents .board--body .board--contents {
    background: #FAFAFA;
    padding: 20px 23px;
    border: 0.35px solid rgba(189, 196, 203, .6);
    min-height: 377px;
    margin-bottom: 23px;
}
.contents .board--body .board--btn  {
    display: flex;
    justify-content: flex-end;
}
.board--body .board--btn .btn--list {
    width: 195px;
}

.inquiry--body {
    width: calc(100% * (839 / 900));
    box-shadow: 0 0 0 1px #BDC4CB;
    border-radius: 4px;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.15px;
    border-collapse: collapse;
}

.inquiry--body tr:first-child :first-child,
.inquiry--body tr:last-child :first-child {
    border-radius: 4px 0 0 0;
}
.inquiry--body tr:first-child :last-child,
.inquiry--body tr:last-child :last-child  {
    border-radius: 0 4px 0 0;
}

.inquiry--body th {
    font-weight: 500;
    background: var(--lightgray);
    height: 46px;
    border-right: 0.35px solid var(--blue-gray2);
}

.inquiry--body td {
    height: 46px;
    padding: 0 11px;
    font-weight: 400;
    color: var(--basic-gray);
}

.inquiry--body tr:not(:last-child) th,
.inquiry--body tr:not(:last-child) td {
    border-bottom: 0.35px solid var(--blue-gray2);
}

.inquiry--body tr:last-child th,
.inquiry--body tr:last-child td {
    padding: 12px;
    height: 160px;
    vertical-align: top;
    box-sizing: border-box;
}

.inquiry--reply {
    width: calc(100% - 60px);
    margin: 30px 0 0;
    padding: 0 0 0 120px;
}

.inquiry--reply h2 {
    margin: 0 0 10px;
    font-weight: 700;
    font-size: 16px;
}
.inquiry--reply h2 span {
    font-weight: 500;
    font-size: 20px;
}

.tabs {
    height: 46px;
}

.tabs li {
    height: 46px;
    line-height: 46px;
    border: 0 none !important;
    border-bottom: 1px solid #0B232D !important;
    color: var(--blue-gray);
    font-size: 14px !important;
}

.tabs .tab--active {
    color: var(--basic-black) !important;
    background: transparent !important;
    border-bottom: 4px solid var(--lightlight-red) !important;
}
.exchange main {
    grid-template-columns: var(--SIDE-WIDTH) auto;
    column-gap: 20px;
}


.details {
    width: 100%;
}

.details--header {
    font-weight: 700;
    font-size: 14px;
    height: 46px;
    line-height: 46px;
    letter-spacing: -0.02em;
    border-bottom: 1px solid var(--linegray);
    box-sizing: border-box;
}

.details--header small {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: var(--blue-gray);
}

.login .find--password {
    color: var(--red-up);
}

.login .find--password a{
    color: inherit;
}

.navigation,
.navigation--back {
    display: none;
}

.create-account .guide {
    margin-top: 67px;
    row-gap: 28px;
    display: flex;
    flex-direction: column;
}

.create-account .guide .guide--step {
    display: flex;
    column-gap: 12px;

}

.create-account .guide .guide--step .guide--desc {
    font-family: Inter;
    font-weight: 400;
}

.mobile-panel {
    display: none;
    position: fixed;
    width: 100%;
    height: calc(100% - 72px);
    background: var(--white);
    padding: 0 0 0 16px;
    z-index: 2;
}

.mobile-panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.mobile-panel ul li {
    margin: 0;
    padding: 0;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray002);
}




/* Mobile */

@media screen and (min-width: 801px) and (max-width: 1260px) {
	/* .nav > ul {column-gap: 30px; padding-right: 100px; padding-left: 0;} */
	.nav .nav--side .language .dropdown--item{left: -10px;}
}

@media screen and (min-width: 601px) and (max-width: 800px) {
	header .logo, .nav {
		display: none;
	}
}

@media (max-width: 600px) { 
    .sub main{display: flex; height: 100vh; align-items: center;}
	.sub .contents .contents--header {
        padding-left: 0;
        border-bottom: 0 none;
        margin: 0 0 20px;
        font-size: 16px;
        height: 48px;
    }
    /* 햄버거 메뉴 */
    .sub .contents .contents--header .navigation {
        width: 24px;
        height: 24px;
        background: url('../img/menu.svg') no-repeat 50%;
        border: 0 none;
        float:left;
    }
    /* 뒤로가기 버튼 */
    .sub header .navigation--back {
        margin-top: 8px;
        margin-bottom: 20px;
    }
    .sub .contents .contents--header .navigation--back {
        margin: 0 33px 0 0;
    }
    form .form--header h1 {
        /* background: none; */
        color: var(--basic-black);
    }
    .sub header .logo,
    .verification header .logo {
        display: none;
    }
    .sub .container > header {
        display: none !important;
    }
    .login header .btn--login {
        display: none;
    }
    .login .find--password {
        /* margin-top: 56px;
        align-self: center !important;
        justify-content: center !important; */
        color: var(--basic-gray) !important;
        letter-spacing: 0.15px;
    }
    .login .find--password::after {
        display: inline-block;
        content: "";
        width: 24px;
        height: 24px;
        vertical-align: middle;
        background: url('../img/icon/icon-next.svg') no-repeat 50%;
        background-size: 7.42px 14.02px;
    }
    .sub header,
    .forget header {
        display: flex;
        align-items: center;
        padding-left: 11px;
    }
    .sub.login header {
        display: none;
    }
    .sub .container >header {
        display: none;
    }
    .sub .nav,
    .forget .nav {
        display: none;
    }
    .sub main {
        display: block;
        padding: 0 16px 56px 16px !important; 
        align-items: flex-start;
    }
	.sub.notice.inquiry > header{display: none;}
    /* .sub .side {
        display: none;
    } */

    .sub form {
        height: auto;
    }
    .forget main {
        /* align-items: flex-start; */
		align-items: center;
    }
    .forget main form {
        align-items: flex-start;
        justify-content: flex-start
    }
    .navigation {
        display: inline-block;
    }
    .navigation--back {
        display: block;
        width: 24px;
        height: 24px;
        background: transparent url('../img/icon/icon-back.svg') no-repeat 50%;
        border: 0 none;
    }

    /* .create-account .guide {

    }

    .create-account > * {
    } */

    .create-account .guide .guide--step .guide--desc {
        font-size: 12px;
        color: #777777;
    }
    .create-account .grid--code {
        align-self: center;
    }
    .sub .boxed--transparent {
        border: 0 none;
    }

    .notification > header {
        display: none;
    }

    .sub.notification .contents .board--body {
        padding-left: 0;
    }
}