.options {
  width: 450px;
  height: 55px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #333;
  justify-content: space-between;
}

.options > label {
  margin-right: 10px;
}

.total_title {
  font-size: 16px;
  font-weight: bold;
}

.total_cnt {
  font-size: 16px;
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
}

.minus-btn,
.plus-btn,
.input-group > input {
  margin: 0 1px;
  padding: 5px 10px;
  font-size: 18px;
  border: 1px solid #ccc;
}
.remove-btn {
	border: 0px;
	margin: 0 1px;
	padding: 5px 10px;
	font-size: 18px;
	background:none;
}

.input-group > button:hover,
.input-group > input:hover {
  border-color: #333;
}

.input-group > button:focus,
.input-group > input:focus {
  outline: none;
}

.input-group > input {
  text-align: center;
  width: 70px;
}

.cart {
  margin-top: 10px;
}

.cart > button {
  width: 450px;
  height: 50px;
  top: 382px;
  left: 495px;
  border: 0px;
  background-color: #999999; 
  color: #fff;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size:16px;
}

#test_op {
  width: 450px;
  height: 40px;
  top: 318px;
  left: 495px;
  /*position: absolute;*/
  border: 1px solid #999999;
}

#takeout_p{
  size:14px;
}

.area-custom-select {
  position: relative;
  width: 400px;
  height: 150px;
  margin: 50px auto;
}

.custom-select {
  display:flex; 
  align-items:center;
  padding: 6px;
  width: 436px;
  height: 28px;
  top: 318px;
  left: 495px;
  /*position: absolute;*/
  border: 1px solid #c4ccd8;
  margin-bottom:15px;
}

.custom-select > span {
  padding-left: 15px;
  font-size: 14px;
  flex:1;
}

.custom-select > img {
  margin-left:auto;
}

.custom-select-text {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.custom-select-arrow {
  /*position: absolute;*/
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.custom-select-list {
  /*position: absolute;*/
  font-size: 14px;
  width: 450px;
  height: 50px auto;
  z-index: 15;
  border: solid 1px #c4ccd8;
  background-color: #ffffff;
  text-align: left;
  margin-top: -1px;
  box-sizing: border-box;
}

.custom-select-option {
  height: 48px;
  line-height: 48px;
  padding-left: 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.custom-select-option:hover {
  color: black;
  background-color: #F0F0F0;
   box-sizing: border-box;
}

.custom-select{
  display: show;
}
#test_op{
  display: none;
}

@media (max-width: 800px) {
	.custom-select{
		display: none;
	}
	#test_op{
		display: block;
	}
}
/*      모달         */
#pin_number.modal .modal--header{
	background: transparent;
	justify-content: flex-end;
}
#pin_number.modal .modal--content .title{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}
#pin_number.modal .modal--content .title h3{
	color:var(--red-up);
	margin: 0;
	font-size: 24px;
}
#pin_number.modal .modal--content .title p{
	margin: 0;
	padding: 10px;
	font-size: 16px;
}
#pin_number.modal .modal--content .pin_area{
	margin-top: 50px;
}

#pin_number.modal .modal--content .pin_area .forget_pin{
	margin: 0;
	text-align: center;
	padding: 20px;
	word-break: keep-all;
}

#pin_number.modal .modal--content .pin_area .forget_pin a{
	vertical-align: unset;
}

#pin_number.modal .modal--content .pin_area .text--center{
	margin-top: 100px;
}
#pin_number.modal .modal--content .pin_area .text--center .btn {
	width: 80%;
}

#pin_number.modal .modal--content .pin_area input[type=number] {
    -webkit-text-security: disc;
}

#pin_number2.modal .modal--header{
	background: transparent;
	justify-content: flex-end;
}
#pin_number2.modal .modal--content .title{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}
#pin_number2.modal .modal--content .title h3{
	color:var(--red-up);
	margin: 0;
	font-size: 24px;
}
#pin_number2.modal .modal--content .title p{
	margin: 0;
	padding: 10px;
	font-size: 16px;
}
#pin_number2.modal .modal--content .pin_area{
	margin-top: 30px;
}
#pin_number2.modal .modal--content .d-flex.flex-center{
	height: 130px;
}
.scrollable-div {
	width: 280px;
	height: 107px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	overflow-y: auto; /* 세로 스크롤을 표시합니다. */
	padding-left: 5px;
	padding-right: 5px;
}

.s_options {
  width: 230px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-left: 20px;
  justify-content: space-between;
}
#pin_number2.modal .modal--content .pin_area .text--center{
	margin-top: 40px;
}
#btn_modal_end{
	height: 40px; 
	line-height: 40px;
}