.options {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.options > label {
  margin-right: 10px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group > button,
.input-group > input {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group > button:hover,
.input-group > input:hover {
  border-color: #333;
}

.input-group > button:focus,
.input-group > input:focus {
  outline: none;
}

.input-group > input {
  text-align: center;
  width: 70px;
}

.cart {
  margin-top: 10px;
}

.cart > button {
  width: 450px;
  height: 50px;
  top: 382px;
  left: 495px;
  border: 0px;
  background-color: #E21A32; 
  color: #fff;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size:16px;
}

.cart > button:hover {
  cursor: pointer;
  background-color: #E21A32; 
  color: #fff;
  border: 0px;
}

#test_op {
  width: 450px;
  height: 40px;
  top: 318px;
  left: 495px;
  /*position: absolute;*/
  border: 1px solid #999999;
}

#takeout_p{
  size:14px;
}

.area-custom-select {
  position: relative;
  width: 400px;
  height: 150px;
  margin: 50px auto;
}

.custom-select {
  display:flex; 
  align-items:center;
  padding: 6px;
  width: 436px;
  height: 28px;
  top: 318px;
  left: 495px;
  /*position: absolute;*/
  border: 1px solid #c4ccd8;
}

.custom-select > span {
  padding-left: 15px;
  font-size: 14px;
  flex:1;
}

.custom-select > img {
  margin-left:auto;
}

.custom-select-text {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.custom-select-arrow {
  /*position: absolute;*/
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.custom-select-list {
  /*position: absolute;*/
  font-size: 14px;
  width: 450px;
  height: 50px auto;
  z-index: 15;
  border: solid 1px #c4ccd8;
  background-color: #ffffff;
  text-align: left;
  margin-top: -1px;
  box-sizing: border-box;
}

.custom-select-option {
  height: 48px;
  line-height: 48px;
  padding-left: 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.custom-select-option:hover {
  color: black;
  background-color: #F0F0F0;
   box-sizing: border-box;
}

.custom-select{
  display: show;
}
#test_op{
  display: none;
}

@media (max-width: 800px) {
	.custom-select{
		display: none;
	}
	#test_op{
		display: show;
	}
}