.d-justify {
    justify-content: center !important;
}

.contents{
	width:500px !important;
}

.cancel-check-table{
	display : none;
}

.wallet_in_main{
	width : 500px;
	height: 205px;
	background:var(--red-up);
	padding-top: 23px;
}

.wallet_in_main_div1{
	padding-top: 23px;
	margin-bottom:5px;
	text-align: center;
}

.wallet_in_main_div1 span{
	font-size : 18px;
	font-weight : 700;
	color:#ffffff;
}

.input--group .input_money{
	margin-left:5%;
	height: 44.2px;
	width: 80%;
	font-weight: 500;
	padding-left:5%;
	font-size: 16px;
}

.input--group .input_unit{
	height: 44.2px;
	width: 47.2px;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	background: #ffffff;
}

.input--group2--bank{
	display: flex;
	padding-left:15px;
	padding-right:15px;
	margin-top : 10px;
	font-weight: 700;
	font-size: 16px;
	width: 470px;
	justify-content: space-between;
	padding-bottom : 10px;
	border-bottom:1px solid #777777 !important;
}

.d-grid.wallet--grid{
	width: 500px;
	font-size: 16px;
}
	
.myinout_list{
	border-bottom: 1px solid #777777 !important;
}
.myinout_list_left{
	border-bottom:1px solid #999999 !important;
}

#total_money_line{
	text-align: center;
	padding-bottom:35px
}

#total_money {
    color: white;
    font-weight: 400;
    font-size: 36px;
}


#total_unit{
	color: white;
    font-weight: 400;
    font-size: 28px;
	padding-top: 10px;
	
}

.wallet_in_main_btn{
	width : 100%;
	height: 59px;
	padding-top : 10px;
	padding-bottom : 13px;
	display:flex;
	border-top:1px solid #ffffff;
	
	font-size: 16px;
}

.btn_in:hover,
.btn_out:hover {
    color: #ffffff; /* ìƒìœ„ ìš”ì†Œì˜ ê¸€ìžìƒ‰ì„ ìƒì†ë°›ìŒ */
}

.btn_in:active,
.btn_out:active {
    color: #ffffff; /* í´ë¦­ ì‹œì— ê¸€ìžìƒ‰ì„ í°ìƒ‰ìœ¼ë¡œ ì„¤ì • */
}

.btn_in{
	width : 30%;
	height: 35px;
	padding-left : 15px;
	border-right:1px solid #ffffff;
	text-align: left;
	color: #ffffff !important;
	line-height: 35px;
	font-weight : 500;
}

.btn_out{
	width : 30%;
	height: 35px;
	padding-left : 15px;
	text-align: left;
	line-height: 35px;
	color: #ffffff !important;
	font-weight : 500;
}

.btn_in_img{
	width : 20%;
	height: 35px;
	text-align: center;
	line-height: 35px;
	background: url('../img/icon/inout_in.png') no-repeat center right;
}

.btn_out_img{
	width : 20%;
	height: 35px;
	text-align: center;
	line-height: 35px;
	background: url('../img/icon/inout_out.png') no-repeat right center;
}

.contents--header2{
	display:none;
}
