.d-justify {
    justify-content: center !important;
}

.contents{
	width:500px !important;
}

.cancel-check-table{
	display : none;
}

.wallet_tab { 
	font-family: 'Noto Sans KR', sans-serif;
	color: #333333;
	font-weight: bold;
	width: 500px; 
	display: flex;
	justify-content: space-between; 
	border-bottom: 1px solid var(--red-up);
}

.tab-button {
	flex: 1; 
	padding: 14px 0; 
	cursor: pointer;
	display: inline-block; 
	text-align: center; 
	font-size: 16px; 
}
.tab-button.selected {
	background-color: var(--red-up); 
	color: white;
}

.wallet_in_main{
	width : 500px;
	height: 205px;
	background:var(--red-up);
	padding-top: 23px;
}

.wallet_in_main_div1{
	padding-top: 23px;
	margin-bottom:5px;
	text-align: center;
}

.wallet_in_main_div1 span{
	font-size : 16px;
	font-weight : 400;
	color:#ffffff;
}

.input--group .input_money{
	margin-left:5%;
	height: 44.2px;
	width: 80%;
	font-weight: 500;
	padding-left:5%;
	font-size: 16px;
}

.input--group .input_unit{
	height: 44.2px;
	width: 47.2px;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	background: #ffffff;
}

.input--group2--bank{
	display: flex;
	padding-left:15px;
	padding-right:15px;
	margin-top : 10px;
	font-weight: 700;
	font-size: 16px;
	width: 470px;
	justify-content: space-between;
	padding-bottom : 10px;
	border-bottom:1px solid #777777 !important;
}

.d-grid.wallet--grid{
	width: 500px;
	font-size: 16px;
}
	
.myinout_list{
	border-bottom: 1px solid #777777 !important;
}
.myinout_list_left{
	border-bottom:1px solid #999999 !important;
}

#total_money_line{
	text-align: center;
	padding-bottom:55px;
}

#total_money {
    color: white;
    font-weight: 400;
    font-size: 28px;
}


#total_unit{
	color: white;
    font-weight: 400;
    font-size: 24px;
	padding-top: 10px;
	
}

.wallet_in_main_btn{
	width : 100%;
	height: 59px;
	padding-top : 10px;
	padding-bottom : 13px;
	display:flex;
	border-top:1px solid #ffffff;
	
	font-size: 16px;
}

.btn_in:hover,
.btn_out:hover {
    color: #ffffff; /* Ã¬Æ’ÂÃ¬Å“â€ž Ã¬Å¡â€Ã¬â€ Å’Ã¬ÂËœ ÃªÂ¸â‚¬Ã¬Å¾ÂÃ¬Æ’â€°Ã¬Ââ€ž Ã¬Æ’ÂÃ¬â€ ÂÃ«Â°â€ºÃ¬ÂÅ’ */
}

.btn_in:active,
.btn_out:active {
    color: #ffffff; /* Ã­ÂÂ´Ã«Â¦Â­ Ã¬â€¹Å“Ã¬â€”Â ÃªÂ¸â‚¬Ã¬Å¾ÂÃ¬Æ’â€°Ã¬Ââ€ž Ã­ÂÂ°Ã¬Æ’â€°Ã¬Å“Â¼Ã«Â¡Å“ Ã¬â€žÂ¤Ã¬Â â€¢ */
}

.btn_in{
	width : 30%;
	height: 35px;
	padding-left : 15px;
	border-right:1px solid #ffffff;
	text-align: left;
	color: #ffffff !important;
	line-height: 35px;
	font-weight : 500;
}

.btn_out{
	width : 30%;
	height: 35px;
	padding-left : 15px;
	text-align: left;
	line-height: 35px;
	color: #ffffff !important;
	font-weight : 500;
}

.btn_in_img{
	width : 20%;
	height: 35px;
	text-align: center;
	line-height: 35px;
	background: url('../img/icon/inout_in.png') no-repeat center right;
}

.btn_out_img{
	width : 20%;
	height: 35px;
	text-align: center;
	line-height: 35px;
	background: url('../img/icon/inout_out.png') no-repeat right center;
}

.contents--header2{
	display:none;
}

@media screen and (max-width: 800px) {
	.content_wrap{
		width: 100% !important;
	}
	.contents{
		width:100% !important;
		
	}
	.address.deposit .contents--header{
		height: 48px;
		align-self: flex-start;
		margin-bottom: 20px;
		padding-left: 0;
		display: flex;
	}
	.address main .contents--header h1{
		margin: 0;
		line-height: 48px;
		color: var(--red-up);
		font-size: 16px;
	}
	.address main .contents--header .navigation--back{
		height: 48px;
		line-height:48px;
		margin-right: 30px;
	}

	.address form{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 100%;
		align-self: center;
		width: 100%;
		position: relative;
	}
	.address .form--btns{
		position: absolute;
		left: 0;
		bottom: 0;
	}
}


@media screen and (max-width: 450px) { 
	.content_wrap{
		width: 100% !important;
	}
	.contents{
		width:100% !important;
	}
	.d-justify {
	    width:100%;
		justify-content: center !important;
	}
	/* .wallet-analysis .daterange{font-size: 12px;} */
	.sub.wallet-analysis .period .mobdatepicker{
		flex-direction: column;
	}
	.sub.wallet-analysis .period .mdatepicker{
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.sub.wallet-analysis .period .btn_area{
		width: 100%;
	}

	.wallet-analysis .middle_div.big{
		height: 590px;
	}

	.wallet-analysis .middle_div.big .total_div span.entry,
	.wallet-analysis .middle_div.big .total_div span.data{
		font-size: 16px;
	}
	.wallet-analysis .middle_div.big .total_div span{
		font-size: 20px;
	}
	
	
	.wallet-analysis .middle_div.big .left_div,
	.wallet-analysis .middle_div.big .right_div{
		height: auto;
	}
	.wallet-analysis .middle_div.big .right_div{
		margin-bottom: 15px;
	}

	.wallet-analysis .middle_div.big .data_div{
		height: 50px;
		margin-bottom: 8px;
	}
	.wallet-analysis .middle_div.big .data_div .header_div, 
	.wallet-analysis .middle_div.big .data_div .inner_div{
		width: 100%;
	}

	.wallet-analysis .middle_div.big .data_div .inner_div{
		text-align: left;
		font-weight: 350;
	}

	.wallet_in_main{
		width : 98%;
	}
	.input--group2--bank{
		width : 90%;
	}
	.myinout_list_left{
		width : 90%;
	}
	.myinout_list_left2{
		width : 90%;
	}
	.myinout_list{
		width: 100%;
		
	}
	.d-grid.wallet--grid{
		width: 98%;
	}
	.myinout_table_check{
		width: 10%; text-align: center; padding-left: 15px !important; ;	
	}
	.myinout_table_right1{
		width: 60%; padding-left: 15px; text-align: left;
	}
	.myinout_table_right1_2{
		width: 30%; padding-right: 15px;
	}
	.myinout_table_right2_1{
		width: 10%; text-align: center; padding-left: 15px !important;
	}
	.myinout_table_right2_2{
		width: 60%; padding-left: 15px; text-align: left;
	}
	
}

@media screen and (max-width:380px) { 
	.content_wrap{
		width: 100% !important;
	}
	.contents{
		width:100% !important;
	}
	.d-justify {
	    width:100%;
		justify-content: center;
	}
	.wallet-analysis .period .dropdown-wrapper + div{
		flex-wrap: wrap;
	}
	.sub.wallet-analysis .period .daterange{
		width: 100%;
		margin-bottom: 10px;
		margin-right: 0!important;
	}
	.sub.wallet-analysis .period .btn{
		width: 48%;
	}
	.wallet-analysis .middle_div.big {
		height: 596px;
	}
	.wallet_in_main{
		width : 98%;
	}
	.input--group2--bank{
		width : 90%;
	}
	.myinout_list_left{
		width : 90%;
	}
	.myinout_list_left2{
		width : 90%;
	}
	.myinout_table_check{
		width : 20%;	
	}
	.myinout_table_right1{
		width : 50%;
	}
	.myinout_table_right1_2{
		width : 30%;
	}
}

/* Mobile */
@media (max-width: 800px) {
	.wallet > header,
    .deposit > header,
	.wallet-analysis > header {
        display: none;
    }
	
}