.exchange main{
	padding: 0;
	/* grid-auto-columns: minmax(100px, auto); */
	grid-template-columns: 2fr 3fr;
	/* grid-template-columns: var(--SIDE-WIDTH) auto; */
	column-gap: 30px;
}
@media screen and (min-width: 801px) and (max-width: 1440px){
	.exchange main{
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 0px;
	}
	
}


.exchange .tab-wrapper{
	width: 100%;
}
/* #jqGrid_wrapper{
	height: 250px;
	overflow-y: auto;
} */
.exchange .tab--content{
	clear:both;
	width: 100%;
}

#jqGrid tbody{
	height: auto;
	
}
/* .exchange .tab--content .dataTables_wrapper{
	
} */
.exchange table.dataTable.no-footer{
	width: 100%!important;
}
.exchange .table.dataTable.no-footer tbody{
	position: relative; 
	overflow: auto; 
	/* max-height: 308px; 
	height: 308px; */ 
	width: 100%;
	background: repeating-linear-gradient(45deg, #edeeff, #edeeff 10px, white 10px, white 20px);
}

/* 태이블 데이터 없을때 배경색 사선 그려지는것 제거 */
div.dts div.dataTables_scrollBody {
    background: transparent !important;
}


.details {
	width: 100%;
    overflow:hidden;
}

.details--header {
    font-weight: 700;
    font-size: 14px;
    height: 46px;
    line-height: 46px;
    letter-spacing: -0.02em;
    border-bottom: 1px solid var(--linegray);
    box-sizing: border-box;
}

.details--header small {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: var(--blue-gray);
}

.details--body {
    display: flex;
    padding: 12px 0 21px 10px;
    justify-content: space-between;
    border-bottom: 0.5px solid var(--linegray);
    height: 65px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.details--body .details--price {
    font-weight: 700;
    font-size: 26px;
    /* color: var(--red-up); */
}

.details--price {
    display: flex;
    align-self: center;
}
.details--diff {
    font-size: 16px
}

.details .tabs {
    /* width: 546px; */
	width: 100%;
    margin: 0 auto;
}
.details .tabs li {
    background: var(--white);
    color: var(--basic-black);
    border-bottom: 0 none !important;
}

.details .tabs li.tab--active {
    border-bottom: 4px solid var(--red-up) !important
}

/* .details .tabs li.tab--sell.tab--active {
    border-bottom: 4px solid var(--red-up) !important
}
.details .tabs li.tab--buy.tab--active {
    border-bottom: 4px solid var(--blue-dn) !important
}
.details .tabs li.tab--info.tab--active {
    border-bottom: 4px solid var(--basic-black) !important
} */

#tab-info {
    padding-top: 10px;
    display: flex;
    column-gap: 11px;
}

#tab-info img {
    width: 278px;
    height: 267px;
}

#tab-info .table {
    margin-top: 21px;
}
#tab-info .table th {
    width: calc(100% * (53 / 536));
    text-align: left;
    padding-right: 17px;
}

#tab-info .table th,
#tab-info .table td {
    padding: 0 0 17px;
    vertical-align: top;
}

#tab-info .btns {
    margin-top: 24px;
}

.exchange .btn.btn--star{
	margin-right: 10px;
}

/* 구매하기 */
#modal-buy .modal--content {
    margin-top: 36px;
    padding-left: 39px;
    padding-right: 21px;
    position: relative; background: url('../img/logo.svg') no-repeat calc(100% - 20px) top;
}
#modal-buy .tea--name {
    padding-left: 4px;
    font-weight: 700;
    letter-spacing: -0.02em;
}

/* 판매하기 */
#modal-sell .modal--content{
    margin-top: 36px;
    padding-left: 39px;
    padding-right: 21px;
    position: relative;
    background: url('../img/logo.svg') no-repeat calc(100% - 20px) top;
}

#modal-buy .btn--star--on,
#modal-sell .btn--star--on {
    position: absolute;
    left: 19px;
    top: 5px;
}

#modal-buy dd,
#modal-sell dd {
    width: 220px;
}

#modal-buy-success .modal--content {
    padding: 73px 20px 0;
    background: url('../img/logo.svg') no-repeat calc(100% - 20px) 17px;
}

.tea--volume {
    margin-bottom: 40px;
}


@media screen and (max-width: 800px) {
	.sub.exchange > .container >  header{display: none;}

	.sub.exchange .desktop-only{display: none!important;}
	.sub.exchange .mobile-only{display: block!important;}

	.sub.exchange main{
		padding:0 10px;
		/* display: flex;
		flex-direction: column; */
	}
	.sub.exchange .contents{
		height: initial;
	}
	.sub.exchange .contents--header{
		margin-bottom: 0;
		line-height: 48px;
	}
	.sub.exchange .contents--header .navigation{
		height: 48px;
		margin-right: 5px;
	}










	.side--panel .tabs {
        border-bottom: 4px solid var(--lightgray);
        height: 36px;
        box-sizing: border-box;
    }
    .side--panel .tabs li{
        padding: 0 0 10px;
        color: var(--gray006);
        font-size: 18px !important;
        height: 32px;
        box-sizing: border-box;
        border-bottom-width: 0 !important;
        line-height: 1;
    }
    .side--panel .tabs .tab--active{
        border-bottom: 4px solid var(--red-up) !important;
    }
    .side--panel .grid-table thead th {
        height: 32px !important;
        border: 1px solid #E5E8EB !important;
        border-radius: 2px;
        color: var(--gray005);
    }
    .details {
        display: none;
    }
}



/* Mobile */
/* @media screen and (max-width: 600px) {
    .side--panel .tabs {
        border-bottom: 4px solid var(--lightgray);
        height: 36px;
        box-sizing: border-box;
    }
    .side--panel .tabs li{
        padding: 0 0 10px;
        color: var(--gray006);
        font-size: 18px !important;
        height: 32px;
        box-sizing: border-box;
        border-bottom-width: 0 !important;
        line-height: 1;
    }
    .side--panel .tabs .tab--active{
        border-bottom: 4px solid var(--red-up) !important;
    }
    .side--panel .grid-table thead th {
        height: 32px !important;
        border: 1px solid #E5E8EB !important;
        border-radius: 2px;
        color: var(--gray005);
    }
    .details {
        display: none;
    }
} */