@charset "UTF-8";
/* 사이드 영역*/
.side--panel {
  /* 검색창 */
  /* 탭 영역 */
}
.side--panel .search--box {
  padding: 0 0 8px 12px;
  border-bottom: 2px solid var(--red-up);
}
.side--panel .search--box .search--input {
  padding: 0 0 0 29px;
  display: block;
  width: 375px;
  height: 30px;
  line-height: 30px;
  background: url("../img/icon/icon-search.svg") no-repeat 7px center;
  border: 0 none;
  color: #3C3C43;
}
.side--panel .search--box * {
  box-sizing: border-box;
}
.side--panel .tabs {
  display: flex;
  align-items: center;
  width: 181px;
  height: 37px;
  margin-left: 19px;
}
.side--panel .tabs li {
  height: 27.42px;
  line-height: 27.42px;
}
.side--panel .grid-table {
  border-top: 0.5px solid #BBBBBB;
}

/* Mobile */
@media screen and (max-width: 600px) {
  .side--panel .tabs {
    border-bottom: 4px solid var(--lightgray);
    height: 36px;
    box-sizing: border-box;
  }
  .side--panel .tabs li {
    padding: 0 0 10px;
    color: var(--gray006);
    font-size: 18px !important;
    height: 32px;
    box-sizing: border-box;
    border-bottom-width: 0 !important;
    line-height: 1;
  }
  .side--panel .tabs li.tab--active {
    border-bottom: 4px solid var(--red-up) !important;
  }
  .side--panel .grid-table thead th {
    height: 32px !important;
    border: 1px solid #E5E8EB !important;
    border-radius: 2px;
    color: var(--gray005);
  }
}
/* 우측 영역 */
.details--body {
  display: flex;
  padding: 12px 0 21px 10px;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--linegray);
  height: 65px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.details--body .details--price {
  display: flex;
  align-self: center;
  font-weight: 700;
  font-size: 26px;
  color: var(--red-up);
}

.details .tabs {
  width: 546px;
  margin: 0 auto;
}
.details .tabs li {
  background: var(--white);
  color: var(--basic-black);
  border-bottom: 0 none !important;
}
.details .details--header .tabs {
  width: auto;
}

.details--diff {
  font-size: 16px;
}

#tab-info {
  padding-top: 10px;
  display: flex;
  -moz-column-gap: 11px;
       column-gap: 11px;
}
#tab-info img {
  width: 278px;
  height: 267px;
}
#tab-info .table {
  margin-top: 21px;
}
#tab-info .table th {
  width: 9.8880597015%;
  text-align: left;
  padding-right: 17px;
}
#tab-info .table th,
#tab-info .table td {
  padding: 0 0 17px;
  vertical-align: top;
}
#tab-info .btns {
  margin-top: 24px;
}

/* 구매하기 */
#modal-buy .modal--content {
  margin-top: 36px;
  padding-left: 39px;
  padding-right: 21px;
  position: relative;
  background: url("../img/logo.svg") no-repeat calc(100% - 20px) top;
}

.modal .tea--name {
  padding-left: 4px;
  font-weight: 700;
  letter-spacing: -0.02em;
}
.modal .tea--volume {
  margin-bottom: 40px;
}
.modal .btn--star--on,
.modal .btn--star--on {
  position: absolute;
  left: 19px;
  top: 5px;
}

/* 판매하기 */
#modal-sell .modal--content {
  margin-top: 36px;
  padding-left: 39px;
  padding-right: 21px;
  position: relative;
  background: url("../img/logo.svg") no-repeat calc(100% - 20px) top;
}

#modal-buy dd,
#modal-sell dd {
  width: 220px;
}

#modal-buy-success .modal--content {
  padding: 73px 20px 0;
  background: url("../img/logo.svg") no-repeat calc(100% - 20px) 17px;
}

/* Mobile */
@media screen and (max-width: 800px) {
  .sub.exchange > .container > header {
    display: none;
  }
  .sub.exchange .desktop-only {
    display: none !important;
  }
  .sub.exchange .mobile-only {
    display: block !important;
  }
  .sub.exchange main {
    padding: 0 10px;
    /* display: flex;
    flex-direction: column; */
  }
  .sub.exchange .contents {
    height: initial;
  }
  .sub.exchange .contents--header {
    margin-bottom: 0;
    line-height: 48px;
  }
  .sub.exchange .contents--header .navigation {
    height: 48px;
    margin-right: 5px;
  }
  .side--panel .tabs {
    border-bottom: 4px solid var(--lightgray);
    height: 36px;
    box-sizing: border-box;
  }
  .side--panel .tabs li {
    padding: 0 0 10px;
    color: var(--gray006);
    font-size: 18px !important;
    height: 32px;
    box-sizing: border-box;
    border-bottom-width: 0 !important;
    line-height: 1;
  }
  .side--panel .tabs li.tab--active {
    /*border-bottom: 4px solid var(--red-up) !important;*/
  }
  .side--panel .grid-table thead th {
    height: 32px !important;
    border: 1px solid #E5E8EB !important;
    border-radius: 2px;
    color: var(--gray005);
  }
  .details {
    display: none;
  }
}/*# sourceMappingURL=exchange.css.map */